<mat-toolbar color="primary">
  <span
    routerLink="/employees"
    routerLinkActive="active"
    style="cursor: pointer"
    >Manage employees</span
  >
  <span class="example-spacer"></span>
  <mat-form-field floatLabel="never">
    <mat-icon>search</mat-icon>
    <mat-label style="padding-left: 1.5em">search...</mat-label>
    <input matInput [formControl]="search" />
  </mat-form-field>
</mat-toolbar>
