.add-emp {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-btn {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
}
.container > * {
  flex: 1 1 160px;
  margin: 10px;
}
