<div class="employee-content">
  <div class="add-emp" style="margin-top: 3em">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Add employee</mat-card-title>
      </mat-card-header>
      <mat-card-content class="add-btn">
        <button mat-mini-fab color="primary" (click)="onAddEmp()">
          <mat-icon>add_circle</mat-icon>
        </button>
      </mat-card-content>
    </mat-card>
  </div>
  <div *ngIf="loading">
    <app-spinner></app-spinner>
  </div>
  <div class="container">
    <div
      class="employee-card"
      style="margin-bottom: 2em; margin-top: 2em; min-width: 250px"
      *ngFor="let employee of employees"
    >
      <app-employee
        [name]="employee.name"
        [email]="employee.email"
        [phone]="employee.phone"
        [jobTitle]="employee.jobTitle"
        [imageUrl]="employee.imageUrl"
        [id]="employee.id"
        (newEmployeeEvent)="addItem($event)"
      ></app-employee>
    </div>
  </div>
</div>
