<h4>Add new employee</h4>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="empForm" (ngSubmit)="onSaveEmployee()">
    <div class="example-container">
      <mat-form-field appearance="outline" style="width: 400px">
        <mat-label>Enter employee name</mat-label>
        <input matInput placeholder="Name" formControlName="name" />
        <mat-error *ngIf="empForm.get('name').invalid"
          >Employee name is required</mat-error
        >
      </mat-form-field>
    </div>
    <div class="example-container">
      <mat-form-field appearance="outline" style="width: 400px">
        <mat-label>Enter employee email</mat-label>
        <input
          matInput
          placeholder="employee@example.com"
          formControlName="email"
        />
        <mat-error *ngIf="empForm.get('email').invalid"
          >A valid email is required</mat-error
        >
      </mat-form-field>
    </div>
    <div class="example-container">
      <mat-form-field appearance="outline" style="width: 400px">
        <mat-label>Enter job title</mat-label>
        <input matInput placeholder="Job title" formControlName="jobTitle" />
        <mat-error *ngIf="empForm.get('jobTitle').invalid"
          >Job title is required</mat-error
        >
      </mat-form-field>
    </div>

    <div class="example-container">
      <mat-form-field appearance="outline" style="width: 400px">
        <mat-label>Phone number</mat-label>
        <input matInput placeholder="Phone number" formControlName="phone" />
        <mat-error *ngIf="empForm.get('phone').invalid">
          Phone number is required</mat-error
        >
      </mat-form-field>
    </div>

    <div class="example-container">
      <mat-form-field appearance="outline" style="width: 400px">
        <mat-label>Image url</mat-label>
        <input
          matInput
          placeholder="https://employee/avatar.png"
          formControlName="imageUrl"
        />
        <mat-error *ngIf="empForm.get('imageUrl').invalid">
          Enter a valid url please</mat-error
        >
      </mat-form-field>
    </div>

    <div
      class="example-button-row"
      style="display: flex; justify-content: flex-end"
    >
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="empForm.invalid"
      >
        Save employee
      </button>
    </div>
  </form>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</mat-dialog-content>
