<mat-card class="example-card">
  <mat-card-header>
    <div
      mat-card-avatar
      [style.backgroundImage]="'url(' + imageUrl + ')'"
      [style.background-size]="'cover'"
    ></div>
    <mat-card-title>{{ name }}</mat-card-title>
    <mat-card-subtitle>{{ jobTitle }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>Email :{{ email }}</p>
    <p>Phone : {{ phone }}</p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button (click)="onEdit()">EDIT</button>
    <button mat-button (click)="onDelete()">DELETE</button>
  </mat-card-actions>
</mat-card>
